
.icon-cog-outline:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-info-outline:before { content: '\e803'; } /* '' */
.icon-dribbble-circled:before { content: '\e804'; } /* '' */
.icon-help:before { content: '\e805'; } /* '' */
.icon-user-add-outline:before { content: '\e806'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */