/*
# - id selector - single specific element
. - class - multiple elements
*/

#body{
	
}

#container{
	position: absolute;
	margin-left:10%;
	width:1200px;
    height: 600px;
	margin-top:100px;
	background-color:black;
}

#view{
	position: absolute;
	width:70%;
	padding-left:10%;
	float:left;
	height: 100%;
	background-color:green;
}

#jednostki{
	width:100%;
	display: inline-block;
	height:auto;
	float:right;
	background-color: green;
	text-align: right;
}

#surowce{
	float:right;
	width:80%;
	background-color:pink;
}

#mapaKoloni{
	width:100%;
	height:100%;
}

.wielkoscBudowli{
	width:70px;
	height:90px;
}

.buildingLvl{
	position: absolute;
	display: inline;
	border: 3px solid #000;
	background: black;
}

figure.centrumDowodzenia{
	position: absolute;
	top: 70px;
	left: 205px;
	text-align: right;
}

figure.magazyn{
	position: absolute;
	top: 350px;
	left:600px;
	text-align: right;
}

figure.zaopatrzenie{
	position: absolute;
	top: 50px;
	left:750px;
	text-align: right;
}


#right_bar{
	float: right;
	width: 300px;
	height: 100%;
	background-color: yellow;
}

#top_bar{
	width: 100%;
	text-align: center;
	height: 70px;
	background-color: gray;
	font-weight: bold;
}

.hiperlacza{
	float: left;
	width: 100px;
    white-space: nowrap;
	display: inline;
}

a:link{
	color: white;
}

a:visited{
	color: white;
}

a:hover{
	color: orange;
}

.przycisk_wyloguj{
	float: right;
	
}

#bottom_bar{
	clear: both;
	width: 100%;
	height: 30px;
	background-color: #b5451d;
	font-weight: bold;
}

#surowiec{

}


