#panel{
    position:absolute;
	color:white;
	/*background-color: gray;*/
	top:50%;
	width: 40%;
	left:50%;
	transform: translate(-50%, -50%);
	border-image-source: url(img/border-img.png);
	//background-image: url(img/border-img.png);
	border-image-width: 20px;
	border-image-slice: 25 fill;
	border-image-repeat: stretch round;
}

#lewyPanel{
	float:left;
	width: 40%;	
	margin-left: 20px;
	margin-top: 20px;
	background-color: green;
	border:3px dashed red;
}

#prawyPanel{
	float:left;
	width: 50%;	
	margin-top: 20px;
	margin-left:10px;
	background-color: lightgreen;
	border:3px dashed red;
}
/*przycisk rejestracji*/
#utworzKonto{
	align: center;	
	display: block;
	margin : 0 auto;
}

.error{
	color:red;
}

.accepted{
	color:green;
}