#container{
	position: relative;
	/*margin-left:10%;*/
	width:70%;
    height: 470px;
	/*margin-top:100px;*/
	background-color:orange;
	margin: -10px;

}

#obaszarKoloni{
	position: absolute;
	width:70%;
	padding-left:10%;
	
	float:left;
	height: 100%;
	background-color:blue;
}

#mapaKoloni{
	width:100%;
	height:100%;
}

.wielkoscBudowli{
	width:70px;
	height:90px;
}

#budynek1{
	position: absolute;
	top: 335px;
	left: 235px;
}

#budynek2{
	position: absolute;
	top: 347px;
	left:675px;
}

#right_bar{
	float: right;
	width: 300px;
	height: 100%;
	background-color: yellow;
}

#surowce{
	float:right;
	width:80%;
	background-color:#808080;
}

#jednostki{
	width:100%;
	/*display: inline-block;*/
	height:auto;
	float:right;
	background-color: green;
}

