#menu_wiadomosci{
	float: left;
	height: 100%;
	width: 100px;
	background-color: brown;
}

#lista_wiadomosci{

	height: 100%;
	width: 1000px;
	background-color: yellow;
}

.hiperlaczaPi{
	
	width: 100px;
    white-space: nowrap;
	display: inline;
}

